@import "fonts/facebook-fonts";

@import 'connection-bar';
[app-color="facebook"] {
  .connection-bar-color("white");
}

#facebook-app {
  background: #d5d6db;
  font-size: 0.85em;

  font-family: 'Roboto', Helvetica, Arial, sans-serif;

  p, h1, h2, h3, h4, h5, a {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
  }

  .header-pic img {
    width: 100%;
  }
  
  .body {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      
      overflow: scroll;
      &::-webkit-scrollbar {
        width: 0;
        }
      
  }
  
  .footer-pic {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      img {
        width: 100%;
        }
  }
}

.facebook-post {
  background: white;
  border-bottom: 12px solid #d5d6db;
  padding: 0;

  .post-header, .post-body {
    padding: 0.5em;
  }

  .post-header {
    position: relative;
    padding-bottom: 0;

    .avatar {
      display: inline-block;
      width: 43px;
    }

    .details {
      position: absolute;
      left: 60px;
      top: -5px;
      time, time-ago {
        font-size: 0.7em;
        color: #c2c2c2;
      }

      .name {
          font-size: 1em;
        font-family: facebook-bold;
        margin-bottom: 0;
        color: black;
      }
    }
  }

  .post-body {
      padding-top: 0;
      font-family: 'Roboto', Helvetica, Arial, sans-serif;
      font-weight: 200;
      
      & > p { margin: 5px 0; }
  }

  .post-footer {
    background: white;
    padding: 0;
    
    
    .like-control { color: #9a9faa; display: block; margin-left: 1em; height: 12px; float: left;  & > * { vertical-align: middle; }}
    .comment-control { color: #9a9faa; display: block; margin-right: 1em; padding-top: 3px; height: 12px; float: right; & > * { vertical-align: middle; }}
    
    .post-top-controls {
        height: 35px;
    }
    .post-controls {
        width: 100%;
    }

    ul {
      margin: 0;
      padding: 0;
      display: inline-block;

      li {
        display: inline;
        a {
          font-family: facebook-bold;
          font-size: 12px;
          color: #425a9b;
          font-weight: bold;
          margin-left: 1em;
          margin-bottom: 2px;
        }
      }

      &.left-menu {

        li:first-child:after {
          font-family: 'Arial';
          content: '.';
          position: relative;
          top: -2px;
          left: 8px;

          color: #425a9b;
          font-weight: bold;
        }
      }

      &.right-menu {
        margin-right: 10px;

        .likes img {
          position: relative;
          top: 2px;
        }

        .comments img {
          position: relative;
          top: 2px;
        }
      }
    }

    > ul {
      margin-bottom: 5px;
    }
    
  }
  
  .post-comments-ul {
        list-style: none;
        padding: 0;
    }
    
    .post-comment {
        padding-bottom: 8px;
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
        font-weight: 200;
        
        .post-separator {
            color: #dcdee3;
            height: 1px;
            width: 90%;
            margin: 8px auto;
            opacity: 0.5;
        }
        
        .avatar {
            width: 40px;
            height: 40px;
            float: left;
            padding: 12px;
            padding-top: 0;
        }
        
        .post-comment-details {
            float: right;
            width: 80%;
            
            .name { margin: 0; font-size: 1em; }

            .comment-body p {
                
                font-family: 'Roboto', Helvetica, Arial, sans-serif;
                font-weight: 200;
                font-size: 1em;
                
                 margin: 0; padding: 6px; padding-left: 0;
                 }
            
            .comment-date,
            .comment-date a {
                color: #959ba6;
                font-size: 0.9em;
            }
        }
        
    }
}
