@import "fonts/facebook-fonts";

#facebook-app {
  background: #d3d6db;

  font-family: facebook-regular;

  p, h1, h2, h3, h4, h5, a {
    font-family: facebook-regular;
  }

  .header-pic img {
    width: 100%;
  }
}
@import 'connection-bar';
[app-color="facebook"] {
  .connection-bar-color("black");
}

.facebook-post {
  background: white;
  border: 1px solid #bbc3d0;
  border-radius: 2px;
  margin: 10px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 0;

  .post-header, .post-body {
    padding: 0.5em;
  }

  .post-header {
    position: relative;

    .avatar {
      display: inline;
    }

    .details {
      position: absolute;
      left: 100px;
      top: -5px;
      time, time-ago {
        font-size: 0.7em;
        color: #c2c2c2;
      }

      .name {
        font-famiy: facebook-bold;
        margin-bottom: -5px;
        color: #60739c;
      }
    }
  }


  .post-footer {
    background: #eceff6;
    border-top: #e0e3ea;
    padding: 0;


    ul {
      margin: 0;
      padding: 0;
      display: inline-block;

      li {
        display: inline;
        a {
          font-family: facebook-bold;
          font-size: 12px;
          color: #425a9b;
          font-weight: bold;
          margin-left: 1em;
          margin-bottom: 2px;
        }
      }

      &.left-menu {

        li:first-child:after {
          font-family: 'Arial';
          content: '.';
          position: relative;
          top: -2px;
          left: 8px;

          color: #425a9b;
          font-weight: bold;
        }
      }

      &.right-menu {
        margin-right: 10px;

        .likes img {
          position: relative;
          top: 2px;
        }

        .comments img {
          position: relative;
          top: 2px;
        }
      }
    }

    > ul {
      margin-bottom: 5px;
    }
  }
}