#phone-screen {
  position: absolute;
  left: 78px;
  top: 95px;
  z-index: 7;
  width: 320px;
  height: 584px;
  overflow: hidden;
  transition: opacity 200ms;
}
.phone-menu {
  height: 85px;
}
[ui-view] > [ui-view] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -23px;
  color: black;
  text-align: left;
  overflow: scroll;
  background: white;
  z-index: 2;
}
[ui-view] > [ui-view]::-webkit-scrollbar {
  width: 0;
}
.app-list {
  list-style-type: none;
  margin-left: 0;
  padding: 0.5em;
  text-align: center;
  font-family: "Roboto";
}
.app-list li {
  display: inline-block;
  transition: opacity 150ms ease-in;
}
.app-list li a {
  position: relative;
  display: inline-block;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: bold;
}
.app-list li a:active {
  opacity: 0.2;
}
.app-list li a img {
  width: 60px;
  height: 60px;
  border-radius: 25%;
  margin: 5px;
}
.app-list li div {
  width: 60px;
  height: 60px;
  border-radius: 25%;
  margin: 5px;
}
#app-bottom-list {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  z-index: 1;
  margin: 0;
}
#app-bottom-list a:before {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  top: 90%;
  font-size: 11px;
  color: white;
  content: attr(data-label);
}
#app-bottom-list .empty {
  background: #252525;
}
.crack {
  z-index: 99999;
  position: absolute;
  left: 73px;
  top: 89px;
  width: 320px;
  height: 585px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  transform-origin: 100% 60%;
  pointer-events: none;
  transition: transform 750ms;
  transition-delay: 300ms;
}
.crack img {
  position: relative;
  right: 19px;
  top: 256px;
}
.phone-landscape .crack {
  transform: rotate(-90deg) translateX(270px);
}
.rotating #phone-screen {
  opacity: 0;
}
.phone-landscape #phone-screen {
  left: 55px;
  top: 164px;
  width: 586px;
  height: 335px;
}
#phone-screen .app-layer {
  background: black;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
#phone-screen .lockscreen .text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  color: white;
  opacity: 0.8;
}
#phone-screen .app-menu-background {
  background: url(../images/homepage_cat.jpeg);
  background-position: 50% 50%;
  background-size: 155%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
#phone-screen:before {
  z-index: 1111;
  pointer-events: none;
  content: '';
  position: absolute;
  width: 130%;
  height: 45%;
  top: -38%;
  right: -12%;
  opacity: 0.2;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  background: rgba(255, 255, 255, 0.3);
  /*opera don't support gradient yet*/
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.3)));
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
  background: linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
  /* Webkit */
  -webkit-transform: rotate(10deg);
  -webkit-border-bottom-left-radius: 200px 20px;
  -webkit-border-bottom-right-radius: 200px 10px;
  -webkit-border-top-right-radius: 5px 100px;
  /* Firefox */
  -moz-transform: rotate(10deg);
  -moz-border-radius-bottomleft: 200px 20px;
  -moz-border-radius-bottomright: 200px 10px;
  -moz-border-radius-topright: 5px 100px;
  /* CSS3 */
  transform: rotate(10deg);
  border-bottom-left-radius: 200px 20px;
  border-bottom-right-radius: 200px 10px;
  border-top-right-radius: 5px 100px;
}
#phone-screen .lockscreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 20;
  transition: opacity ease-in 100ms;
  transition-delay: 3s;
}
#phone-screen .lockscreen .lockscreen-home {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  background: black;
  box-sizing: border-box;
  background: url(../images/homepage_cat.jpeg);
  background-position: 50% 50%;
  background-size: 155%;
  transition: transform linear 600ms;
  transform: translateX(0);
}
#phone-screen .lockscreen .lockscreen-home img {
  position: absolute;
  bottom: 0;
  width: 100%;
}
#phone-screen .lockscreen .lockscreen-password {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  background: black;
  transform: translateX(-100%);
  transition: transform linear 600ms;
}
#phone-screen .lockscreen .lockscreen-password img {
  width: 100%;
}
#phone-screen .lockscreen.ng-hide {
  opacity: 0;
}
#phone-screen .lockscreen.ng-hide .lockscreen-home {
  transform: translateX(100%);
}
#phone-screen .lockscreen.ng-hide .lockscreen-password {
  transform: translateX(0);
}
#phone-screen .music-player {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 50px;
  background: rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid black;
  text-align: center;
  z-index: 30;
}
