#phone-hardware {
  position: absolute;
  top: -115px;
  left: -41px;
}

.marvel-device {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  transform-origin: 100% 60%;
  z-index: 5;
  box-shadow: inset 110px -79px 72px rgba(0, 0, 0, 0.5), -7px 6px 7px rgba(0, 0, 0, 0.5);
  transition: transform 750ms;
  transition-delay: 300ms;
}

.phone-landscape .marvel-device {
  -webkit-transform: scale(0.8) rotate(-90deg) translateX(400px);
  -moz-transform: scale(0.8) rotate(-90deg) translateX(400px);
  -ms-transform: scale(0.8) rotate(-90deg) translateX(400px);
  -o-transform: scale(0.8) rotate(-90deg) translateX(400px);
  transform: scale(0.8) rotate(-90deg) translateX(400px);
}

.marvel-device .home {
  cursor: pointer;

  &:after {
    position: absolute;
    content: '';
    width: 55px;
    height: 55px;
    top: 7px;
    left: 7px;
    border-radius: 50%;
    transform: rotate(45deg);

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.08+0,0+100;White+to+Transparent */
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.08) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.08)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.08) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.08) 0%,rgba(255,255,255,0) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.08) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(255,255,255,0.08) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
}
.marvel-device .screen {
  z-index: 5 !important;
}
.marvel-device .screen #navigation {
  font-size: 40px !important;
}