#tumblr-app {
  // height: 100%;
  background: black;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Helvetica Neue", HelveticaNeue, Arial, sans-serif;
  font-size: 15px;
  text-align: center;

  .header-bg {
    position: relative;
    top: -78px;
    height: 184px;

    > img {
      width: 100%;
    }
  }

  .header-avatar {
    text-align: center;
    position: relative;
  }

  .header-avatar > img {
    border-radius: 50%;
    position: relative;
    top: -75%;
  }

  .post {
    background: white;
    color: black;

    text-align: left;
    padding: 1em;
    margin-bottom: 2em;
  }

  .post-controls {
    list-style-type: none;
    text-align: right;
    margin-right: 1em;

    li {
      display: inline-block;

      a { color: grey; }
    }
  }
}

