#tumblr-app {
  background: black;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Helvetica Neue", HelveticaNeue, Arial, sans-serif;
  font-size: 15px;
  text-align: center;
}
#tumblr-app .header-aboutme {
  position: relative;
  height: 200px;
  margin-bottom: 10px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: height 250ms;
  -moz-transition: height 250ms;
  -ms-transition: height 250ms;
  -o-transition: height 250ms;
  transition: height 250ms;
}
#tumblr-app .header-aboutme.open {
  height: 450px;
}
#tumblr-app .header-aboutme:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), #000000);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), #000000);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), #000000);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), #000000);
}
#tumblr-app .header-aboutme.open:after {
  display: none;
}
#tumblr-app .header-bg {
  position: relative;
  top: -78px;
  height: 184px;
}
#tumblr-app .header-bg > img {
  width: 100%;
}
#tumblr-app .header-avatar {
  text-align: center;
  position: relative;
}
#tumblr-app .header-avatar > img {
  border-radius: 50%;
  position: relative;
  top: -75%;
}
#tumblr-app .posts {
  padding-bottom: 100px;
}
#tumblr-app .post {
  background: white;
  color: black;
  text-align: left;
  padding: 1em;
  margin-bottom: 2em;
}
#tumblr-app .post-controls {
  list-style-type: none;
  text-align: right;
  margin-right: 1em;
}
#tumblr-app .post-controls li {
  display: inline-block;
}
#tumblr-app .post-controls li a {
  color: grey;
}
