connection-bar {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 25px;
  z-index: 20;
  font-family: "Helvetica Neue", 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
}
connection-bar .horizontal-list {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
connection-bar .horizontal-list li {
  display: inline-block;
}
connection-bar .connection-dots {
  float: left;
  padding-left: 10px;
}
connection-bar .connection-dot {
  height: 9px;
  width: 9px;
  padding: 0;
  margin: 0;
}
connection-bar .connection-dot img {
  width: 100%;
  height: 100%;
}
connection-bar .connection-info {
  float: left;
}
connection-bar .connection-text {
  padding-left: 7px;
  padding-right: 7px;
}
connection-bar .time {
  position: absolute;
  width: 100%;
  top: 0;
  left: 21px;
}
connection-bar .battery {
  float: right;
  margin-right: 10px;
}
connection-bar .connection-dot img {
  content: url("../images/connection-bar/white-dot.png");
}
connection-bar .connection-dot.empty img {
  content: url("../images/connection-bar/white-dot-empty.png");
}
connection-bar .connection-icon img {
  content: url("../images/connection-bar/white-wireless-icon.png");
}
connection-bar .battery img {
  content: url("../images/connection-bar/white-battery.png");
}
[app-color="tumblr"] {
  color: white;
}
[app-color="tumblr"] .connection-dot img {
  content: url("../images/connection-bar/white-dot.png");
}
[app-color="tumblr"] .connection-dot.empty img {
  content: url("../images/connection-bar/white-dot-empty.png");
}
[app-color="tumblr"] .connection-icon img {
  content: url("../images/connection-bar/white-wireless-icon.png");
}
[app-color="tumblr"] .battery img {
  content: url("../images/connection-bar/white-battery.png");
}
#tumblr-app {
  background: black;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Helvetica Neue", HelveticaNeue, Arial, sans-serif;
  font-size: 15px;
  text-align: center;
}
#tumblr-app .header-aboutme {
  position: relative;
  height: 200px;
  margin-bottom: 10px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: height 250ms;
  -moz-transition: height 250ms;
  -ms-transition: height 250ms;
  -o-transition: height 250ms;
  transition: height 250ms;
}
#tumblr-app .header-aboutme.open {
  height: 450px;
}
#tumblr-app .header-aboutme:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), #000000);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), #000000);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), #000000);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), #000000);
}
#tumblr-app .header-aboutme.open:after {
  display: none;
}
#tumblr-app .header-bg {
  position: relative;
  top: -78px;
  height: 184px;
}
#tumblr-app .header-bg > img {
  width: 100%;
}
#tumblr-app .header-avatar {
  text-align: center;
  position: relative;
}
#tumblr-app .header-avatar > img {
  border-radius: 50%;
  position: relative;
  top: -75%;
}
#tumblr-app .posts {
  padding-bottom: 100px;
}
#tumblr-app .post {
  background: white;
  color: black;
  text-align: left;
  padding: 1em;
  margin-bottom: 2em;
}
#tumblr-app .post-controls {
  list-style-type: none;
  text-align: right;
  margin-right: 1em;
}
#tumblr-app .post-controls li {
  display: inline-block;
}
#tumblr-app .post-controls li a {
  color: grey;
}
