connection-bar {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 25px;
  z-index: 25;
  font-family: "Helvetica Neue", 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  transition: opacity 250ms;
  color: white;
}
connection-bar.ng-hide {
  opacity: 0;
}
connection-bar .horizontal-list {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
connection-bar .horizontal-list li {
  display: inline-block;
}
connection-bar .connection-dots {
  float: left;
  padding-left: 10px;
}
connection-bar .connection-dot {
  height: 9px;
  width: 9px;
  padding: 0;
  margin: 0;
}
connection-bar .connection-dot img {
  width: 100%;
  height: 100%;
}
connection-bar .connection-info {
  float: left;
}
connection-bar .connection-text {
  padding-left: 7px;
  padding-right: 7px;
}
connection-bar .time {
  position: absolute;
  width: 100%;
  top: 0;
  left: 21px;
}
connection-bar .battery {
  float: right;
  margin-right: 10px;
}
connection-bar .connection-dot img {
  content: url("../images/connection-bar/white-dot.png");
}
connection-bar .connection-dot.empty img {
  content: url("../images/connection-bar/white-dot-empty.png");
}
connection-bar .connection-icon img {
  content: url("../images/connection-bar/white-wireless-icon.png");
}
connection-bar .battery img {
  content: url("../images/connection-bar/white-battery.png");
}
[app-color="twitter"] {
  color: white;
}
[app-color="twitter"] .connection-dot img {
  content: url("../images/connection-bar/white-dot.png");
}
[app-color="twitter"] .connection-dot.empty img {
  content: url("../images/connection-bar/white-dot-empty.png");
}
[app-color="twitter"] .connection-icon img {
  content: url("../images/connection-bar/white-wireless-icon.png");
}
[app-color="twitter"] .battery img {
  content: url("../images/connection-bar/white-battery.png");
}
#twitter-app {
  font-family: 'Helvetica Neue', 'Roboto', sans-serif;
}
#twitter-app p,
#twitter-app h1,
#twitter-app h2,
#twitter-app h3,
#twitter-app h4,
#twitter-app h5,
#twitter-app a {
  font-family: 'Helvetica Neue', 'Roboto', sans-serif;
}
#twitter-app .header-pic img {
  width: 100%;
}
#twitter-app a:link,
#twitter-app a:active,
#twitter-app a:visited,
#twitter-app a:hover {
  color: #3785b5;
  font-size: 16px;
}
#twitter-app a:hover {
  text-decoration: underline;
}
.twitter-post {
  position: relative;
  background: white;
  border-top: 1px solid #c5cdd3;
  padding: 0;
  font-size: 16px;
}
.twitter-post .post-header {
  padding: 0.5em;
}
.twitter-post .post-body {
  padding-left: 65px;
}
.twitter-post .post-body > p {
  margin-top: 6px;
}
.twitter-post .avatar {
  float: left;
  border-radius: 10px;
  width: 40px;
  margin: 10px;
}
.twitter-post .details {
  padding-top: 10px;
  padding-left: 65px;
}
.twitter-post .details time {
  display: inline-block;
  font-size: 0.7em;
  color: #c2c2c2;
  float: right;
  margin-right: 1em;
  margin-top: 5px;
}
.twitter-post .details .name {
  font-famiy: twitter-bold;
  font-weight: bold;
}
.twitter-post .details .handle:before {
  content: '@';
}
.twitter-post .post-footer {
  margin-left: 65px;
  margin-bottom: 8px;
}
.twitter-post .post-footer ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.twitter-post .post-footer ul li {
  display: inline;
}
.twitter-post .post-footer ul li a {
  font-famiy: twitter-bold;
  font-weight: bold;
}
