<div id="tumblr-app">
    <div class="header-bg">
        <img src="images/tumblr_header.gif" alt=""/>
    </div>
    <div class="header-avatar">
        <img src="images/tumblr_avatar.png" alt=""/>
    </div>
    <div class="header-aboutme">
        <span class="description">
            <h1>necrofille</h1>
            <span>about me</span>
            <p>
                proana | pagan | pansexual | transasian | <br>
                radfem | genderfluid | felinekin |<br>
                with past life regressions to puritan salem <br>
                (^..^)ノ
            </p>
            <p>
                17<br>
                attending our beloved lady <br>of perpetual sorrow<br> n unplanned pregnancy :’(
            </p>
            <p>
                i only eat sashimi. <br>
                would rather b hungry
            </p>
            <p>
                omgggggggggg<br>
                dad's depressing me out<br>
                as a white cis-het-male,<br>
                he has no idea wut hes talking about!
            </p>
            <p>
                my proper pronouns r purr/purrs/purrself!!!
            </p>
        </span>
    </div>
    <div class="posts">
        <div class="post">
            <h1 class="post-header">Title 1</h1>
            <div class="post-body">Test</div>
            <ul class="post-controls">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            </ul>
        </div>
        <div class="post">
            <div class="post-body">Test</div>
            <ul class="post-controls">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            </ul>
        </div>
    </div>
</div>