<div id="messages-app">
    <div class="header-pic"><img src="images/messages/list-header.png"></div>

    <div class="body">

        <div class="messages-posts">
            <div class="messages-post" ng-repeat="post in messages.posts" ng-click="messages.loadPost(post)">
                <b ng-bind="post.node.field_messages_recipient.und[0].value"></b>
            </div>
        </div>
    </div>

    <div class="messages-loadedpost" ng-if="messages.loadedPost">
        <div class="messages-message-body" role="log">
            <p ng-repeat="message in messages.loadedPost.messages track by $index" ng-class="'message message-type-'+message.type" ng-bind-html="message.message"></p>
            <br /><br /><br />
        </div>
        <div class="messages-message-footer">
            <img src="images/messages/footer.png">
        </div>
    </div>
</div>
