<div id="tumblr-app">
    <div class="header-bg">
        <img src="images/tumblr_header.gif" alt=""/>
    </div>
    <div class="header-avatar">
        <img src="images/tumblr_avatar.png" alt=""/>
    </div>
    <div class="header-aboutme" ng-click="isOpen = !isOpen" ng-class="{ open: isOpen }">
        <span class="description">
            <h1>necrofille</h1>
            <p>vegan | pagan | pansexual | transasian |<br>
feminist | genderfluid | felinekin |</p>

<p>past life regressions to puritan salem</p>

<p>17<br>
    student at our beloved lady<br>
    of ptsd<br>
    and rape conceived pregnancy</p>

<p>ask before u follow me<br>
    420 friendly</p>

<p>omg dad depresses me out <br>
    typical white cishet male<br>
    wtf is he talking about??</p>

<p>purr/purrs/purrself</p>

<p>(^..^)ノ</p>
         </span>
    </div>
    <div class="posts">
        <div class="post" ng-repeat="post in tumblr.posts">

            <h1 class="post-header" ng-if="post.node.field_tumblr_header.und[0].value && post.node.field_tumblr_header.und[0].value !== ''" ng-bind-html="post.node.field_tumblr_header.und[0].value"></h1>
            <div class="post-body">
                <p ng-bind-html="post.body"></p>

                <img class="pic" ng-repeat="pic in post.node.field_tumblr_pic.und" ng-src="{{'http://dev.nataschasimard.com/sites/default/files/'+pic.filename}}" alt=""/>

                <ul class="hashtags">
                    <li class="hashtag" ng-repeat="tag in post.node.field_tumblr_tags.und"><a ng-href="{{'https://www.tumblr.com/tagged/'+tumblr.convertTag(tag.value)}}" ng-bind="tag.value"></a></li>
                </ul>
            </div>
            <ul class="post-controls">
                <li><img src="images/tumblr/icons.png" alt=""/></li>
            </ul>
        </div>
    </div>
</div>